<!doctype html>
<html>
<head>

    <title>Polls</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>

<body>
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Voting App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/polls">Polls</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id = "hello-user">Hello <%= user.local.email.split("@")[0] %></a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1>Create Poll</h1>


    <form action="/polls/create" method="POST">
        <div class="form-group">
            <label>Poll</label>
            <input type="text" class="form-control" name="question">
        </div>
        
        <div class="form-group">
            <label>Option #1</label>
            <input type="text" class="form-control" name="option1">
        </div>
        
        <div class="form-group">
            <label>Option #2</label>
            <input type="text" class="form-control" name="option2">
        </div>
    
        <div class="form-group" id = "empty">
            <!-- THIS IS WHERE MORE OPTIONS GO -->
        </div>
        
        <button class="btn btn-warning btn-lg">More Options</button>

        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>

    <hr>


</div>

</div>


</body>