<!doctype html>
<html>
<head>
    
    <title>Show Poll</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>
<body>
    
    <div class = "container" id = "navspot">
        <h1><%= poll.question %></h1>
        <h3>by <strong><%= poll.name %></strong></h3>
    
        <form action = '/update/votes' method = 'POST'>
            <input type = "radio"><%= poll.options[0].option %><br>
            <input type = "radio"><%= poll.options[1].option %><br>
    
            <input type = "submit"><br>
        </form>

    </div>
    
<script type="text/javascript" src = "/common/ajax-functions.js"></script>
<script type="text/javascript" src = "/controllers/navigationController.client.js"></script>
    
</body>
</html>